@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Italic.ttf');
    font-style:italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-BoldItalic.ttf');
    font-weight: bold;
	font-style:italic;
}